h1 {
  font-family: monospace;
  font: size 24px;
}
p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: medium;
  color: rgb(26, 16, 114);
}
.blyu {
  color: blue;
}
h2 {
  font-family: serif;
  font-size: smaller;
  color: rgb(9, 105, 73);
}
.red {
  color: rgb(206, 124, 17);
}
h3 {
  font-family: sans;
  font-size: 34px;
  color: antiquewhite;
}
.black {
  color: rgb(29, 25, 20);
}
.p2 {
  color: blueviolet;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}
.p4 {
  color: rgb(56, 194, 44);
  font-size: 32;
  font-family: "Courier New", Courier, monospace;
}
.ling {
  font-family: monospace;
  font-size: 36;
  color: rgba(20, 209, 209, 0.767);
  font-style: initial;
  text-decoration: none;
  font-weight: 400;
}
